@keyframes wave-slow {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(-100%) translateY(3%);
  }
}

@keyframes wave-fast {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(-50%) translateY(-3%);
  }
}

@keyframes wave-medium {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(-75%) translateY(1%);
  }
}

.animate-wave-slow {
  animation: wave-slow 15s linear infinite;
}

.animate-wave-fast {
  animation: wave-fast 8s linear infinite;
}

.animate-wave-medium {
  animation: wave-medium 12s linear infinite;
}
